<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>

	<key>CLIENT_ID</key>
	<string>960174335807-9agvljgcrogjdn85t119dib69m9on1ss.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.960174335807-9agvljgcrogjdn85t119dib69m9on1ss</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>960174335807-5jkdng5b4hkc5ekkpakg10iim7n9djv8.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB60Oon5xII6U0KSoAVpuC_C4UkeOSyTEA</string>
	<key>GCM_SENDER_ID</key>
	<string>960174335807</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.vstextile</string>
	<key>PROJECT_ID</key>
	<string>vs-textiles</string>
	<key>STORAGE_BUCKET</key>
	<string>vs-textiles.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:960174335807:ios:8c95818d192159fbd6158a</string>
</dict>
</plist>